<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <filter>
        <filter-name>LoggingFilter</filter-name>
        <filter-class>com.redhat.lightblue.rest.logging.LoggingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>version</servlet-name>
        <jsp-file>/version.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>version</servlet-name>
        <url-pattern>/version</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>com.redhat.lightblue.rest.cors.CorsInitializingServletContextListener
        </listener-class>
    </listener>

    <context-param>
        <param-name>cors.configuration.resource</param-name>
        <param-value>lightblue-crud-cors.json</param-value>
    </context-param>
    <context-param>
        <param-name>resteasy.providers</param-name>
        <param-value>
            com.restcompress.provider.LZFEncodingInterceptor,com.restcompress.provider.LZFDecodingInterceptor
        </param-value>
    </context-param>

     <listener>
        <listener-class>
            com.redhat.lightblue.rest.crud.health.CrudHealthCheckServletContextListener
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>health</servlet-name>
        <servlet-class>com.codahale.metrics.servlets.HealthCheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>health</servlet-name>
        <url-pattern>/health</url-pattern>
    </servlet-mapping>

    
	<listener>
	        <listener-class>com.redhat.lightblue.rest.crud.metrics.JVMMetricsServletContextListener</listener-class>
	</listener>

	<servlet>
	        <servlet-name>metrics</servlet-name>
	        <servlet-class>com.codahale.metrics.servlets.MetricsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	        <servlet-name>metrics</servlet-name>
	        <url-pattern>/metrics/*</url-pattern>
	</servlet-mapping>
	
    <listener>
        <listener-class>com.redhat.lightblue.rest.crud.metrics.RestResourceInstrumentedFilterContextListener</listener-class>
    </listener>	

	<filter>
	    <filter-name>SearchFilter</filter-name>
	    <filter-class>com.codahale.metrics.servlet.InstrumentedFilter</filter-class>
	    <init-param>
	        <param-name>name-prefix</param-name>
	        <param-value>search</param-value>
	    </init-param>	    
	</filter>	
	<filter-mapping>
	    <filter-name>SearchFilter</filter-name>
	    <url-pattern>/search/*</url-pattern>
	</filter-mapping>    

	<filter>
	    <filter-name>LockFilter</filter-name>
	    <filter-class>com.codahale.metrics.servlet.InstrumentedFilter</filter-class>
	    <init-param>
	        <param-name>name-prefix</param-name>
	        <param-value>lock</param-value>
	    </init-param>	    
	</filter>
	<filter-mapping>
	    <filter-name>LockFilter</filter-name>
	    <url-pattern>/lock/*</url-pattern>
	</filter-mapping>
	
	<filter>
	    <filter-name>InsertFilter</filter-name>
	    <filter-class>com.codahale.metrics.servlet.InstrumentedFilter</filter-class>
	    <init-param>
	        <param-name>name-prefix</param-name>
	        <param-value>insert</param-value>
	    </init-param>	    
	</filter>
	<filter-mapping>
	    <filter-name>InsertFilter</filter-name>
	    <url-pattern>/insert/*</url-pattern>
	</filter-mapping>
	
	<filter>
	    <filter-name>SaveFilter</filter-name>
	    <filter-class>com.codahale.metrics.servlet.InstrumentedFilter</filter-class>
	    <init-param>
	        <param-name>name-prefix</param-name>
	        <param-value>save</param-value>
	    </init-param>	    
	</filter>
	<filter-mapping>
	    <filter-name>SaveFilter</filter-name>
	    <url-pattern>/save/*</url-pattern>
	</filter-mapping> 
	 	
	<filter>
	    <filter-name>UpdateFilter</filter-name>
	    <filter-class>com.codahale.metrics.servlet.InstrumentedFilter</filter-class>
	    <init-param>
	        <param-name>name-prefix</param-name>
	        <param-value>update</param-value>
	    </init-param>	    
	</filter>
	<filter-mapping>
	    <filter-name>UpdateFilter</filter-name>
	    <url-pattern>/update/*</url-pattern>
	</filter-mapping> 
	
	<filter>
	    <filter-name>DeleteFilter</filter-name>
	    <filter-class>com.codahale.metrics.servlet.InstrumentedFilter</filter-class>
	    <init-param>
	        <param-name>name-prefix</param-name>
	        <param-value>delete</param-value>
	    </init-param>	    
	</filter>
	<filter-mapping>
	    <filter-name>DeleteFilter</filter-name>
	    <url-pattern>/delete/*</url-pattern>
	</filter-mapping>  
			
	<filter>
	    <filter-name>FindFilter</filter-name>
	    <filter-class>com.codahale.metrics.servlet.InstrumentedFilter</filter-class>
	    <init-param>
	        <param-name>name-prefix</param-name>
	        <param-value>find</param-value>
	    </init-param>	    
	</filter>
	<filter-mapping>
	    <filter-name>FindFilter</filter-name>
	    <url-pattern>/find/*</url-pattern>
	</filter-mapping>
	
	<filter>
	    <filter-name>ExplainFilter</filter-name>
	    <filter-class>com.codahale.metrics.servlet.InstrumentedFilter</filter-class>
	    <init-param>
	        <param-name>name-prefix</param-name>
	        <param-value>explain</param-value>
	    </init-param>	    
	</filter>
	<filter-mapping>
	    <filter-name>ExplainFilter</filter-name>
	    <url-pattern>/explain/*</url-pattern>
	</filter-mapping>
	
	<filter>
	    <filter-name>GenerateFilter</filter-name>
	    <filter-class>com.codahale.metrics.servlet.InstrumentedFilter</filter-class>
	    <init-param>
	        <param-name>name-prefix</param-name>
	        <param-value>generate</param-value>
	    </init-param>	    
	</filter>
	<filter-mapping>
	    <filter-name>GenerateFilter</filter-name>
	    <url-pattern>/generate/*</url-pattern>
	</filter-mapping>
	
	<filter>
	    <filter-name>BulkFilter</filter-name>
	    <filter-class>com.codahale.metrics.servlet.InstrumentedFilter</filter-class>
	    <init-param>
	        <param-name>name-prefix</param-name>
	        <param-value>bulk</param-value>
	    </init-param>	    
	</filter>
	<filter-mapping>
	    <filter-name>BulkFilter</filter-name>
	    <url-pattern>/bulk/*</url-pattern>
	</filter-mapping>
	
</web-app>
