<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <servlet-mapping>
    <servlet-name>com.redhat.lightblue.rest.metadata.RestApplication</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <filter>
     <filter-name>LoggingFilter</filter-name>
     <filter-class>com.redhat.lightblue.rest.logging.LoggingFilter</filter-class>
  </filter>
  <filter-mapping>
      <filter-name>LoggingFilter</filter-name>
      <url-pattern>/*</url-pattern>
  </filter-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>rest-metadata services</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>

    <auth-constraint>
      <role-name>authenticated</role-name>
    </auth-constraint> 
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Version servlet (Unauth)</web-resource-name>
      <url-pattern>/version</url-pattern>
    </web-resource-collection>
  </security-constraint>

  <login-config> 
    <auth-method>CLIENT-CERT</auth-method>
  </login-config>

  <security-role>
    <description>The roles that are required to log into the rest-metadata application</description>
    <role-name>authenticated</role-name>
  </security-role>
  
  <servlet>
    <servlet-name>request</servlet-name>
    <servlet-class>com.redhat.lightblue.rest.auth.util.RequestDumper</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>request</servlet-name>
    <url-pattern>/request</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>version</servlet-name>
      <jsp-file>/version.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
      <servlet-name>version</servlet-name>
      <url-pattern>/version</url-pattern>
  </servlet-mapping>

  <listener>
    <listener-class>com.redhat.lightblue.rest.cors.CorsInitializingServletContextListener</listener-class>
  </listener>

  <context-param>
    <param-name>cors.configuration.resource</param-name>
    <param-value>lightblue-crud-cors.json</param-value>
  </context-param>
  <context-param>
    <param-name>resteasy.providers</param-name>
    <param-value>com.restcompress.provider.LZFEncodingInterceptor,com.restcompress.provider.LZFDecodingInterceptor</param-value>
  </context-param>

</web-app>
